/*---------------------------------------*/
.container-fluid{
  padding-right: 15px;
  padding-left: 15px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.col-md-8 {
  float: left;
  width: 66.66%;
  padding: 10px;
}
.col-md-6 {
  float: left;
  width: 50%;
  padding: 10px;
}
.col-md-4 {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.col-md-3 {
  float: left;
  width: 25%;
  padding: 10px;
}
.col-md-2 {
  float: left;
  width: 16.66%;
  padding: 10px;
}
@media screen and (max-width:800px) { 
  .col-md-4 { 
    width:100%; 
  } 
  .col-md-2 { 
    width: 50%; 
  } 
} 
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
