* {
  /*Include padding and border in the element's total width and height*/
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url("../img/background.png");
}
.pageContainer{
  min-height: 100vh;
  position: relative;
}
.maincontainerIndex{
padding-top: 12%;     /*dont use margin here*/
padding-bottom: 100px;
}
.maincontainerTut{
  margin-top: 12%;
  padding-bottom: 100px;
}
.navbar {
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 14px 16px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.navbar img {
  width: 250px;
}
.center{
  text-align: center;
}
.footer{
  position: absolute;
  height: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size:20px; 
}
.center{
  text-align: center;
}
.heading1{
  font-family: 'Poiret One', cursive;
  font-size:80px;
  margin-top:10px;
  margin-bottom: 20px;
}
.heading2{
  font-family: 'Poiret One', cursive;
  font-size:50px;
  margin-top:10px;
  margin-bottom: 20px;
}
.text{
	font-family: 'Poiret One', cursive;
  font-size:20px; 
}
.button {
  margin: 20px;
  background-color: #27b585;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.green_button{
  background-color: #27b585;
  color: white;
}
.white_button{
  background-color: #ffff;
  color: black;
}

/*voting page css*/
.mascot{
  text-decoration:none;
}
.allmascots{
 border-style: solid;border-width: 2px; border-color: gray;
}
/*tooltip*/
.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  font-family: 'Poiret One', cursive;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -100px;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*rating*/
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #808080;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #27b585;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #808080;
  text-shadow: 0 0 5px #27b585;
}
/*rating*/

/* Customize the label (the container) */
.checkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: 'Poiret One', cursive;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #808080;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
  background-color: #27b585;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
  background-color: #27b585;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.disable{
  pointer-events: none;
  opacity: 0.5;
}
.disable_btn{
  pointer-events: none;
  opacity: 0.5;
  background-color: #808080;
  color: white;
}